<!DOCTYPE html>
<html>

<!-- Site head -->
<% include head.ejs %>

<body>
    <main>
        <h1>Exercises from book Eloquent JavaScript</h1>
        <ul>
            <li>
                <p>Chapter 2</p>
                <ul>
                    <li><p><a href="/output?chapter=2&exercise=2">Exercise 2: FizzBuzz</a> <button type="button" onclick="loadAndOpenSrc(2, 2)">(Source Code)</button></p></li>
                    <li><p><a href="/output?chapter=2&exercise=3">Exercise 3: Chess Board</a> <button type="button" onclick="loadAndOpenSrc(2, 3)">(Source Code)</button></p></li>
                </ul>
            </li>
            <li>
                <p>Chapter 3</p>
                    <ul>
                        <li><p><a href="#"></a></p></li>
                    </ul>
            </li>
        </ul>
        <script>
            function loadAndOpenSrc(chapter, exercise) {
                var req = "/modal?chapter=" + chapter + "&exercise=" + exercise;
                $.get(req, function (code){
                    $('#textarea1').text(code.sourcecode);
                    $('#modal1').openModal();
                });
            }
        </script>
          <!-- Modal Structure -->
          <div id="modal1" class="modal">
              <div class="modal-content">
                  <textarea id="textarea1" class="materialize-textarea" readonly></textarea>
                </div>
          </div>
    </main>
</body>
</html>
