<!DOCTYPE html>
<html>

<head>
    <title>Eloquent JS</title>
</head>

<body>
    <h1>Exercises from book Eloquent JavaScript</h1>
    <ul>
        <li>
            <p>Chapter 2</p>
            <ul>
                <li><p><a href="/output?algorithm=chapter02e01">Exercise 1: Chess v1</a></p></li>
                <li><p><a href="#">Exercise 1: Chess v2</a></p></li>
                <li><p><a href="#">Exercise 2: FizzBuzz</a></p></li>
            </ul>
        </li>
        <li>
            <p>Chapter 3</p>
            <ul>
                <li><p><a href="#"></a></p></li>
            </ul>
        </li>
    </ul>
</body>
</html>
